* {
    margin: 0;
    padding: 0;
    font: normal 12px "Noto Sans KR";
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: #111;
}

#wrapper {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}


/* ---------------- header ---------------- */

header {
    width: 100%;
    height: auto;
    box-sizing: border-box;
}

header > div {
    width: 100%;
    box-sizing: border-box;
}

header > div > * {
    width: 980px;
    height: 100%;
    box-sizing: border-box;
    margin: 0 auto;
}

header .top > div {
	position: relative;
    float: right;
    margin-top: 10px;
    z-index: 5;
}

header article {
    position: relative;
}

header > div:nth-child(2) {
    width: 100%;
    height: 85px;
}

header article > .logo {
    position: absolute;
    left: 390px;
    top: 20px;
}

header article > .freeShipping {
    position: absolute;
    right: 0;
    top: 59px;
}

header > div:nth-child(3) {
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
}

header > div:nth-child(3) > ul {
    position: relative;
}

header > div:nth-child(3) > ul > li {
    width: 196px;
    float: left;
}

header > div:nth-child(3) > ul > li > a > img {
    display: block;
}

.head_badge {
    position: absolute;
    left: 295px;
    top: -13px;
}

/* ---------------- main ---------------- */

main {
    width: 100%;
    height: auto;
}

main section {
    width: 600px;
    height: auto;
    margin: 100px auto 160px auto;
}

main section h2 {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

main section table {
    display: flex;
    width: 100%;
    height: auto;
    border-collapse: collapse;
    border-top: 2px solid #111111;
    box-sizing: border-box;
}

main section tr td:nth-of-type(1) {
    width: 120px;
    height: 42.5px;
    padding-left: 12.5px;
}

main section tr td:nth-of-type(2) {
    width: 479px;
    height: 42.5px;
    padding-left: 12.5px;
    font-weight: 700;
}

main section td {
    border: 2px solid #e9e9e9;
    box-sizing: border-box;
}

main section p {
    width: 100%;
    height: auto;
    margin-top: 13px;
}

main section div {
    display: flex;
    position: absolute;
    margin-top: 40px;
    margin-left: 449px;
}

main section div a {
    width: 54px;
    height: 35px;
    margin-left: 2px;
    padding: 7px 7px 0px 10px;
    border: 1px solid #bebebe;
    box-sizing: border-box;
}

main section div a:nth-of-type(2) {
    width: 93px;
}

main section > div > a:nth-of-type(2) {
    width: 93px;
}



/* ---------------- footer ---------------- */

footer {
    display: inline-block;
    width: 100%;
    height: 130px;
    box-sizing: border-box;
}

.footer_container {
    width: 980px;
    height: 120px;
    border-top: 1px solid #D1CAB2;
    box-sizing: border-box;
    margin: 0 auto;
}

.footer_img {
    float: left;
}

.footer_p  {
    float: right;
    margin-top: 25px;
}

.footer_p p {
    font-size: 10px;
    line-height: 18px;
    color: #585858;
}

.footer_p p:nth-child(2) {
    float: left;
    color: #888888;
}
.footer_p p:nth-child(3) {
    float: right;
    color: #888888;
}