* {
    margin: 0;
    padding: 0;
    font: normal 12px "Noto Sans KR";
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: #111;
}

#wrapper {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: auto;
    box-sizing: border-box;
}

header > div {
    width: 100%;
    box-sizing: border-box;
}

header > div > * {
    width: 980px;
    height: 100%;
    box-sizing: border-box;
    margin: 0 auto;
}

header .top > div {
	position: relative;
    float: right;
    margin-top: 10px;
    z-index: 5;
}

header article {
    position: relative;
}

header > div:nth-child(2) {
    width: 100%;
    height: 85px;
}

header article > .logo {
    position: absolute;
    left: 390px;
    top: 20px;
}

header article > .freeShipping {
    position: absolute;
    right: 0;
    top: 59px;
}

header > div:nth-child(3) {
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
}

header > div:nth-child(3) > ul {
    position: relative;
}

header > div:nth-child(3) > ul > li {
    width: 196px;
    float: left;
}

header > div:nth-child(3) > ul > li > a > img {
    display: block;
}

.head_badge {
    position: absolute;
    left: 295px;
    top: -13px;
}

.main_container {
    width: 980px;
    height: auto;
    margin: 0 auto;
}

.sub_top_container {
    position: relative;
    height: 184px;
    background-image: url(/farmStory/images/sub_top_bg.jpg);
}

.sub_top_container > img {
    position: absolute;
    top: 137px;
    left: 10px;
}

.main_container > section > aside {
    background-image: url(/farmStory/images/sub_aside_bg_line.png);
    background-repeat: no-repeat;
    background-position: right;
    width: 176px;
    height: 650px;
    float: left;
}

.main_container > section {
    width: 100%;
    height: auto;
}

.main_container > section > aside > div:nth-child(1) {
    padding: 16px;
}

.main_container > section > aside > div:nth-child(2) {
    position: relative;
    width: 99%;
    height: 233px;
    background-image: url(/farmStory/images/sub_aside_bg_lnb.png);
}

.main_container > section > aside > div:nth-child(2) > img:nth-child(1) {
    position: absolute;
    top: 26px;
}
.main_container > section > aside > div:nth-child(2) > img:nth-child(2) {
    position: absolute;
    top: 61px;
}

.main_container > section > article {
    float: right;
    width: 762px;
    height: auto;
    margin-left: 40px;
    position: relative;
}

.main_container > section > article > div {
    margin-bottom: 35px;
}

.main_container > section > article > div > nav {
    position: relative;
    width: 762px;
    height: 72px;
    border-bottom: 1px solid #c2c2c2;
}

.main_container > section > article > .nav_bar > nav > img {
    position: absolute;
    top: 41px;
}

.main_container > section > article > .nav_bar > div {
    position: absolute;
    top: 51px;
    right: 0px;
    background-image: url(/farmStory/images/sub_page_nav_ico.gif);
    background-repeat: no-repeat;
    background-position: left;
}

.main_container > section > article > .nav_bar > div > p {
    color: #8c8c8c;
    font-size: 12px;
    margin-left: 12px;
}

.sub_page_p {
    margin-bottom: 10px;
}

.sub_page_p > p > a {
    color: #999999;
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 20px;
}

.sub_page_p > p {
    margin-bottom: 2px;
}

.sub_page > table {
    width: 762px;
    height: auto;
    border-collapse: collapse;
    border-top: 1px solid #111;
    border-bottom: 1px solid #111;
}
.sub_page > table th {
    height: 38px;
    background-color: #E5ECEF;
    border-bottom: 1px solid #d1dee2;
}
.sub_page > table tr {
    border-bottom: 1px solid #eee
}
.sub_page > table tr > td:nth-child(1) {
    width: 100px;
    text-align: center;
}
.sub_page > table tr > td:nth-child(2) {
    width: 76px;
    color: #777;
    text-align: center;
}
.sub_page > table tr > td:nth-child(3) {
    width: 311px;
    text-align: center;
}
.sub_page > table tr > td:nth-child(4) {
    width: 91px;
    text-align: center;
}
.sub_page > table tr > td:nth-child(5) {
    width: 91px;
    text-align: center;
}
.sub_page > table tr > td:nth-child(6) {
    width: 91px;
    text-align: center;
}
.sub_page > table tr > td:nth-child(6) > del {
    color: #777;
}
.sub_page > table tr > td:nth-child(6) > strong {
    font-weight: 700;
}
.sub_page > table tr:last-child {
    border-bottom: none;
}

.item_img {
    width: 80px;
    height: 80px;
}
.emptyProd {
	text-align: center;
	font-size: 14px;
	padding: 10px 0 10px 0;
	color: #4a4a4a;
}

footer {
    display: inline-block;
    width: 100%;
    height: 130px;
    box-sizing: border-box;
}

.footer_container {
    width: 980px;
    height: 120px;
    border-top: 1px solid #D1CAB2;
    box-sizing: border-box;
    margin: 0 auto;
}

.footer_img {
    float: left;
}

.footer_p  {
    float: right;
    margin-top: 25px;
}

.footer_p p {
    font-size: 10px;
    line-height: 18px;
    color: #585858;
}

.footer_p p:nth-child(2) {
    float: left;
    color: #888888;
}
.footer_p p:nth-child(3) {
    float: right;
    color: #888888;
}