* {
    margin: 0;
    padding: 0;
    font: normal 12px "Noto Sans KR";
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: #111;
    cursor: pointer;
}

#wrapper {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: auto;
    box-sizing: border-box;
}

header > div {
    width: 100%;
    box-sizing: border-box;
}

header > div > * {
    width: 980px;
    height: 100%;
    box-sizing: border-box;
    margin: 0 auto;
}

header .top > div {
	position: relative;
    float: right;
    margin-top: 10px;
    z-index: 5;
}

header article {
    position: relative;
}

header > div:nth-child(2) {
    width: 100%;
    height: 85px;
}

header article > .logo {
    position: absolute;
    left: 390px;
    top: 20px;
}

header article > .freeShipping {
    position: absolute;
    right: 0;
    top: 59px;
}

header > div:nth-child(3) {
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
}

header > div:nth-child(3) > ul {
    position: relative;
}

header > div:nth-child(3) > ul > li {
    width: 196px;
    float: left;
}

header > div:nth-child(3) > ul > li > a > img {
    display: block;
}

.head_badge {
    position: absolute;
    left: 295px;
    top: -13px;
}

.main_container {
    width: 980px;
    height: auto;
    margin: 0 auto;
}

.sub_top_container {
    position: relative;
    height: 184px;
    background-image: url(/farmStory/images/sub_top_bg.jpg);
}

.sub_top_container > img {
    position: absolute;
    top: 137px;
    left: 10px;
}

.main_container > section > aside {
    background-image: url(/farmStory/images/sub_aside_bg_line.png);
    background-repeat: no-repeat;
    background-position: right;
    width: 176px;
    height: 650px;
    float: left;
}

.main_container > section > aside > div:nth-child(2) > a:nth-child(1) > img {
    position: absolute;
    top: 26px;
}
.main_container > section > aside > div:nth-child(2) > a:nth-child(2) > img {
    position: absolute;
    top: 61px;
}

.main_container > section > aside > div:nth-child(2) > a:nth-child(3) > img {
    position: absolute;
    top: 96px;
}

.main_container > section > article > .nav_bar > nav > img {
    position: absolute;
    top: 41px;
}

.main_container > section > article > .nav_bar > div {
    position: absolute;
    top: 51px;
    right: 0px;
    background-image: url(/farmStory/images/sub_page_nav_ico.gif);
    background-repeat: no-repeat;
    background-position: left;
}

.main_container > section > article > .nav_bar > div > p {
    color: #8c8c8c;
    font-size: 12px;
    margin-left: 12px;
}


.main_container > section {
    position: relative;
    width: 100%;
    height: 650px;
}

.main_container > section > aside > div:nth-child(1) {
    padding: 16px;

}

.main_container > section > aside > div:nth-child(2) {
    position: relative;
    width: 99%;
    height: 233px;
    background-image: url(/farmStory/images/sub_aside_bg_lnb.png);

}

.main_container > section > aside > div:nth-child(2) > a:nth-child(1) > img {
    position: absolute;
    top: 26px;
}
.main_container > section > aside > div:nth-child(2) > a:nth-child(2) > img {
    position: absolute;
    top: 61px;
}

.main_container > section > aside > div:nth-child(2) > a:nth-child(3) > img {
    position: absolute;
    top: 96px;
}

.main_container > section > aside > div:nth-child(2) > a:nth-child(4) > img {
    position: absolute;
    top: 131px;
}

.main_container > section > aside > div:nth-child(2) > a:nth-child(5) > img {
    position: absolute;
    top: 166px;
}

.main_container > section > article {
    float: right;
    width: 762px;
    height: 650px;
    margin-left: 40px;
    position: relative;
}

.main_container > section > article > div {
    margin-bottom: 35px;
}

.main_container > section > article > div > nav {
    position: relative;
    width: 762px;
    height: 72px;
    border-bottom: 1px solid #c2c2c2;

}

.sub_page_section > section > nav > form{
    right: 0px;
    width: 247px;
    height: 31px;
}

.searchBox {
    width: 202px;
    height: 28px;
    border: 1px solid #d7d7d7;
    box-sizing: border-box;
    padding-left: 5px;
}

.searchBtn {
    width: 38px;
    height: 31px;
    border: 1px solid #d7d7d7;
    box-sizing: border-box;
}

.sub_page_section > section > table {
    border-collapse: collapse;
    border-top: 2px solid black;
    border-bottom: 1px solid #d7d7d7;
    margin-top: 40px;
    margin-bottom: 20px;
}



.sub_page_section > section > table > tbody > tr td{
    text-align: center;
}

.sub_page_section > section > p{
    position: absolute;
    width: 50px;
    font-size: 15px;
    margin-top: 5px;
}

.sub_page_section > section > nav > form{
    position: absolute;
    right: 0px;
}


.sub_page_section > section > table > tbody > tr:nth-of-type(1) {
    background: #E5ECEF;
    border: 1px solid #E5ECEF;;
}

.sub_page_section > section > div{
    display: flex;
 	justify-content: center;
	align-items: center;
  	gap: 10px;
}

.sub_page_section > section > div a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 35px;
    border: 1px solid #d7d7d7;
}

.sub_page_section > section > div > a:nth-child(2){
    width: 24px;
    height: 32px;
    background: #888888;
    border: 1px solid #6d6d6d;
    color: #d7d7d7;
}

.sub_page_section > section > div > a:nth-child(3){
    width: 24px;
    height: 33px;
}

.sub_page_section > section > div > a:nth-child(4){
    width: 24px;
    height: 33px;
}

.sub_page_section > section > div > a:nth-child(6){
    position: absolute;
    right: 0px;
    width: 54px;
    height: 35px;
    background: #4B545E;
    border: 1px solid #3B3C3F;
    color: #FFFFFF;
    
}


.main_container > section > article > div:nth-child(2) > div > section{
    position: absolute;
    width: 762px;
    height: auto;
}



.main_container > section > article > .nav_bar > nav > img {
    position: absolute;
    top: 41px;
}

.main_container > section > article > .nav_bar > div {
    position: absolute;
    top: 51px;
    right: 0px;
    background-image: url(/farmStory/images/sub_page_nav_ico.gif);
    background-repeat: no-repeat;
    background-position: left;
}

.main_container > section > article > .nav_bar > div > p {
    color: #8c8c8c;
    font-size: 12px;
    margin-left: 12px;
}

.sub_page_p > p:nth-child(1) {
    color: #666666;
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 20px;
}

.sub_page_p > p:nth-child(2) {
    margin-bottom: 2px;
}



footer {
    display: inline-block;
    width: 100%;
    height: 130px;
    box-sizing: border-box;
}

.footer_container {
    width: 980px;
    height: 120px;
    border-top: 1px solid #D1CAB2;
    box-sizing: border-box;
    margin: 0 auto;
}

.footer_img {
    float: left;
}

.footer_p  {
    float: right;
    margin-top: 25px;
}

.footer_p p {
    font-size: 10px;
    line-height: 18px;
    color: #585858;
}

.footer_p p:nth-child(2) {
    float: left;
    color: #888888;
}
.footer_p p:nth-child(3) {
    float: right;
    color: #888888;
}