<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>farmStory</display-name>
  <welcome-file-list>
    <welcome-file>index.do</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
<!--   
	<session-config>
		<session-timeout> 30 </session-timeout> 분 단위
  	</session-config> 
-->
<servlet>
    <servlet-name>yourServlet</servlet-name>
    <servlet-class>yourServletClass</servlet-class>
    <multipart-config>
        <max-file-size>2097152</max-file-size> <!-- 최대 파일 크기 설정 -->
        <max-request-size>4194304</max-request-size> <!-- 최대 요청 크기 설정 -->
        <file-size-threshold>1048576</file-size-threshold> <!-- 임시 파일 저장 크기 설정 -->
    </multipart-config>
</servlet>
  
</web-app>